<mat-nav-list>
    <a mat-list-item (click)="onSidenavClose('quote')">
        <mat-icon>receipt</mat-icon> <span class="nav-caption">Invoice</span>
    </a>
    <a mat-list-item (click)="onSidenavClose('styleSelection')">
        <mat-icon>view_in_ar</mat-icon> <span class="nav-caption">Bank</span>
    </a>
    <a mat-list-item (click)="onSidenavClose('styleBioData')">
        <mat-icon>view_in_ar</mat-icon> <span class="nav-caption">Company</span>
    </a>
    <a mat-list-item (click)="onSidenavClose('styleBioData')">
        <mat-icon>view_in_ar</mat-icon> <span class="nav-caption">Party</span>
    </a>
    <a mat-list-item (click)="onSidenavClose('styleBioData')">
        <mat-icon>view_in_ar</mat-icon> <span class="nav-caption">Party</span>
    </a>
</mat-nav-list>